<mat-card>
    <mat-card-title>Novo Item no Estoque</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Quantidade"
                [(ngModel)]="stock.amount" name="amount">
        </mat-form-field>
            
        <select class="form-control" #Select [(ngModel)]="stock.product_id" name="product_id">
            <option selected>Selecione...</option>
            <option *ngFor="let product of products" [ngValue]="product.product_id">{{ product.name }}</option>
        </select>
    </form>
    <button mat-raised-button (click)="createStock()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>